# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# SvelteKit
.svelte-kit/
/build
/.output

# vercel
.vercel

# env (keep .env.example tracked)
.env
.env.*
!.env.example

# misc
.DS_Store
*.pem
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
